---
import { UserComponent } from '@/components/react/generics/UserComponent';
import MenuLink from './MenuLink.astro';
---

<nav
    class='flex text-neutral-50/80 w-full px-8 py-2 justify-between items-center bg-dark-primary-blue'
>
    <a href='/'>
        <img
            src='/logo_steam.svg'
            alt='Steam'
            width='135'
            height='34'
            loading='eager'
        />
    </a>

    <menu class='flex gap-4 text-xl items-center'>
        <MenuLink href='/'>TIENDA</MenuLink>
        <MenuLink href='/comunidad'>COMUNIDAD</MenuLink>
        <MenuLink href='/usuario'>USUARIO</MenuLink>
        <MenuLink href='/chat'>CHAT</MenuLink>
        <MenuLink href='/soporte'>SOPORTE</MenuLink>
    </menu>

    <UserComponent client:load />
</nav>
