---
import LoggedUser from './LoggedUser.astro';
import UnLoggedUser from './UnLoggedUser.astro';

import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request);
---

<div
    class='flex gap-4 relative transition-colors duration-200 px-2 align-middle'
>
    {session ? <LoggedUser session={session} /> : <UnLoggedUser />}
</div>
