---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Registrate'>
    <main>
        <form>
            <label
                for='username'
            >Username</label>
            <input
                type='text'
                name='username'
                id='username'
                placeholder='Username'
            />
            <input
                type='email'
                name='email'
                id='email'
                placeholder='Email'
            />
        </form>
    </main>
</Layout>
