---
import Layout from '../layouts/Layout.astro';
import { RegisForm } from '@reactC/regist/RegisForm';
---

<Layout title='Registrate'>
    <main>
        <RegisForm client:only='react' />
    </main>
</Layout>
