---
import type { Game } from '@/types/Game';

import ShopLayout from '@layouts/ShopLayout.astro';
import Hero from '@/components/astro/shop/Hero.astro';

import { Recomendeds } from '@reactC/shop/Recomendeds';
import { db, Games, GamesTags, Tags, eq, sql } from 'astro:db';

export const prerender = true;
const games: Game[] = await db
    .select({
        id: Games.id,
        name: Games.name,
        img: Games.img,
        price: Games.price,
        url: Games.url,
        tags: sql<string>`GROUP_CONCAT(${Tags.name})`.as('tags'),
    })
    .from(Games)
    .innerJoin(GamesTags, eq(Games.id, GamesTags.game))
    .innerJoin(Tags, eq(GamesTags.tag, Tags.id))
    .groupBy(Games.id);
---

<ShopLayout title='Bienvenido a SteamCopy'>
    <main class='flex flex-col items-center gap-32 pt-9 pb-60'>
        <Hero
            href='/games/Call-of-Duty-III'
            img='/heroBanner.webp'
            alt='Call Of Duty 3'
        />

        <Recomendeds games={games} />
    </main>
</ShopLayout>
