---
import Layout from './Layout.astro';
import { db, Games, eq } from 'astro:db';

export const prerender = true;

const { gameName } = Astro.props;
const game = await db
    .select()
    .from(Games)
    .where(eq(Games.name, gameName))
    .limit(1);

const { name, img } = game[0];
---

<Layout title={name}>
    <main
        class='w-screen h-screen flex items-center justify-center bg-[conic-gradient(at_top_right,_var(--tw-gradient-stops))] from-accent-blue via-light-primary-blue to-light-primary-blue'
    >
        <section
            class='grid max-w-7xl w-full bg-dark-primary-blue/60 p-4 rounded-xl'
            style='grid-template-columns: 700px 1fr;'
        >
            <img
                class='w-full object-cover aspect-video rounded'
                src={img}
                alt={`banner de ${name}`}
            />
            <article class='px-8 flex flex-col gap-4'>
                <h1 class='text-5xl'>{name}</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Molestias omnis deleniti, cumque dolorum fuga quod enim
                    quasi animi vitae soluta nihil culpa. Vero eius minus
                    voluptatum quasi eum officiis quaerat.
                </p>
            </article>
        </section>
    </main>
</Layout>
