---
interface Props {
    title: string;
    metaKeywords?: string;
    metaDescription?: string;
}

import GeneralNavigationMenu from '@astroC/generics/GeneralNavigationMenu.astro';

const { title, metaKeywords, metaDescription } = Astro.props;
---

<!doctype html>
<html lang='es'>
    <head>
        <meta charset='UTF-8' />
        <meta
            name='viewport'
            content='width=device-width'
        />
        <link
            rel='icon'
            type='image/svg+xml'
            href='/steampowered-icon.svg'
        />
        <meta
            name='generator'
            content={Astro.generator}
        />
        <title>{title}</title>
        <meta
            name='keywords'
            content={metaKeywords || 'Astro, Preact'}
        />
        <meta
            name='description'
            content={metaDescription || 'Astro description'}
        />
    </head>
    <body>
        <GeneralNavigationMenu />
        <slot />
    </body>
</html>

<style is:global>
    body {
        @apply bg-primary-blue text-neutral-50;
        font-family: 'Motiva Sans medium', sans-serif;
    }

    input {
        @apply border-2 border-neutral-50/80 rounded-md px-2 py-1 text-slate-900;
    }
    ::-webkit-scrollbar {
        width: 0px;
    }
</style>
